<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <!-- When <clear /> is present, previously defined sources are ignored -->
    <!-- Remove this tag or un-comment the nuget.org source below to restore packages from nuget.org -->
    <!-- For more info, see https://docs.nuget.org/consume/nuget-config-file -->
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="MyDoctor" value="https://dangkykham.pkgs.visualstudio.com/_packaging/MyDoctor/nuget/v3/index.json" />
    <add key="AspNetCoreRelease" value="https://dotnet.myget.org/F/aspnetcore-release/api/v3/index.json" />
    <add key="AspNetCoreDev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
